<div class="container">
  <div class= "col-lg-3" id="index">
    <h1>Welcome!</h1>
    <h4>Click below to scrape for the latest NPR headlines</h4>
    <p><a class="btn btn-lg scrape" href="/scrape" role="button">Scrape Here!</a></p>
  </div>
</div>


