/*
white
	HEX code:	#D5D4BF
RGB code:	R: 213 G: 212 B: 191
HSV:	57.27° 10.33% 83.53%
green
	HEX code:	#8C9281
RGB code:	R: 140 G: 146 B: 129
HSV:	81.18° 11.64% 57.25%

brown	
	HEX code:	#7A6653
RGB code:	R: 122 G: 102 B: 83
HSV:	29.23° 31.97% 47.84%

dark brown
	HEX code:	#361F12
RGB code:	R: 54 G: 31 B: 18
HSV:	21.67° 66.67% 21.18%
*/


body {
	background-image: url('./images/radio2.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Inconsolata', monospace;
	padding-top: 70px;
}
nav {
	background-color: #D5D4BF;
	border-color: #7A6653;
}
.navbar-light .navbar-brand {
	color: #7A6653;
}
#icon{
	height: 2rem;
	width: 2rem;
}

/*index.handlebars*/
#index{
	color: #D5D4BF;
	text-shadow: 2px 2px #361F12;
}

.scrape {
	background-color: #361F12;
	border-color: #7A6653;
	color: #D5D4BF; 
}
.scrape:hover {
	background-color: #7A6653;
	border-color: #361F12;
	color: #D5D4BF; 
}

/*scrape.handlebars*/
h2{
	color: #D5D4BF;
	font-weight: bolder;
	text-shadow: 2px 2px #361F12;
}
.posts{
	height: 25rem;
	overflow: scroll;
	background-color:rgba(213, 212, 191, .9);
	color: #361F12;
	margin-bottom: 2rem;

}
p {
	color: #7A6653;
}
h5{
	font-weight: bold;
}
.saved{
	background-color: #8C9281;
	color: #361F12;
	border-color: #7A6653;
}
.saved:hover {
	background-color: #361F12;
	color: #8C9281;
	border-color: #7A6653;
}
.saved:active {
	box-shadow: 0 0 0;
	outline: 0 none;
}

/*saved articles */
.saved_posts{
	height: 30rem;
}
.note{
	color: #8C9281;
}
input[type='text']:focus {
	outline: 0 none;
	box-shadow: 0;
}

